<div class="row">
	<div class="large-8 large-centered text-center columns">
		<%= link_to "RPI Questions", edit_survey_path(1), :class => "radius button" %>
		<%= link_to "User Database", survey_users_path, :class => "radius button" %>
		<%= link_to "Logout", logout_path, :class => "radius button alert" %>
	</div>
</div>