  <div class="row">
    <div class="large-6 columns">
      <div class="flex-video">
        <iframe src="http://www.youtube.com/embed/bB-bs0Y7kmc?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    
    <!-- full screen view -->
    <div class="large-6 columns hide-for-small radius panel">
      <div class="row">
        <h4>What Is Your RPI?</h4>
      <p>"Take the RPI test now…then go and tell all of your friends, so you can compare profiles.<br/>
    </div>
    <div class="row text-center">
      <%= link_to "Take The RPI Now!", take_survey_path, :class => "large radius button success" %>
    </div>
    </div>

    <!-- mobile view -->
    <div class="large-6 columns show-for-small">
    </div>
  </div>
     
  
    </div>
  </div><br>

    <!-- mobile screen -->
 <div class="row">
  <div class="large-12 columns show-for-small">
    <a href="/take_survey" class="radius button success" style="width: 100%">Take The RPI Now!</a>
  </div>
 </div>
 
   <div class="row hide-for-small">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">Shining Star</div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">Concerned Chameleon</div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">People's Person</div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">Tenacious Bulldog</div>
        </div>
      </div>

      <div class="row">
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">Shining Star</div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">Concerned Chameleon</div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">People's Person</div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">Tenacious Bulldog</div>
        </div>
      </div>

      <div class="row">
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">Shining Star</div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">Concerned Chameleon</div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">People's Person</div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">Tenacious Bulldog</div>
        </div>
      </div>
      <div class="row">
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">Shining Star</div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">Concerned Chameleon</div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">People's Person</div>
        </div>
 
        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />
          <div class="panel">Tenacious Bulldog</div>
        </div>
      </div>      

    </div>
  </div> 
 
   <!-- Call to Action Panel -->
   <div class="row hide-for-small">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>What is yor RPI?</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>Take the RPI test now…then go and tell all of your friends, so you can compare profiles.</p>
          </div>
          <div class="large-3 columns">
            <a href="/take_survey" class="radius button right">Get Started!</a>
          </div>
        </div>
      </div>
      
    </div>
  </div> 